@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkoloFotoExam26</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SkoloFotoExam26.styles.css" asp-append-version="true" />

    <style>
        .btn-login-tab {
            border: 1px solid white;
            border-top: none;
            background-color: #d1a678;
            color: white;
            padding: 5px 15px;
            position: relative;
            top: -1px;
            border-radius: 0 0 4px 4px;
            z-index: 10;
            text-decoration: none;
        }

            .btn-login-tab:hover {
                background-color: #b88f61;
                color: white;
                border-color: #b88f61;
            }
    </style>

</head>
<body>
    @if (ViewData["ErrorMessage"] != null)
    {
        <script type="text/javascript">
            window.onload=function(){
                alert("@ViewData["ErrorMessage"]");
            };
        </script>
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SkoloFotoExam26</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="PhotographingEvents/Index">FotograferingEvents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Schools/Index">Skoler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/SchoolClasses/Index">SkoleKlasser</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Photos/Index">Fotos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Bookings/ChooseEvents">Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Teachers/Index">Lærer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Parents/Index">Forældre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/SchoolSecretaries/Index">Skolesekretærer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Photographers/Index">Fotografer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Administrators/Index">Administrators</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @* LOGIN KNAPPEN *@
        <div class="container d-flex justify-content-end">
            @{
                var session = Context?.Session;
                var hasUserId = session != null && session.GetInt32("UserID") != null;
                var pageName = ViewContext.RouteData.Values["page"].ToString();
            }
            @if (hasUserId)
            {
                if (!pageName.Contains("/Profile/"))
                {
                    <a class="btn btn-sm btn-login-tab" asp-page="/Profile/ProfileRedirect" asp-page-handler="Redirect">Min Profil</a>
                }
                <a class="btn btn-sm btn-danger ms-2" asp-page="/LoginPage" asp-page-handler="Logout" style="border-radius: 0 0 4px 4px;">Log ud</a>
            }
            else
            {
                <a class="btn btn-sm btn-login-tab" asp-page="/LoginPage">
                    Log ind
                </a>
            }
        </div>

    </header>
    <div class="container pt-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - SkoloFotoExam26 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>