@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.SchoolClasses.CreateSchoolClassModel
@{
    ViewData["Title"] = "Opret En Skole Klasse";
}
<h2>
    Opret En Skole Klasse
</h2>

<form method="post">
    <div>
    <label asp-for="ClassName" class="control-label">Klasse navn</label>
    <input asp-for="ClassName" class="form-control"/>
    </div>
    <div class="form-group"> 
    <label asp-for="SchoolID">Vælg en skole</label>
    <select asp-for="SchoolID" class="form-control"> 
            <option value="">Vælg en skole</option>
            @foreach (School s in Model.SchoolList)
                    {
                        <option value="@s.SchoolID">
                            @s.Name
                        </option>
                    }
    </select>
</div>
    <br />
    <input type="submit" value="Create Class" class="btn btn-success" />
    <a asp-page="Index" class="btn btn-warning">
        Cancel
    </a>
</form>