@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Teachers.CreateTeacherModel
@{
    ViewData["Title"] = "Create New Teacher";
}

<h2>
    Create Teacher
</h2>


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Initials" class="control-label"></label>
        <input asp-for="Initials" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"> </label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="SchoolID">Choose a School</label>
        <select asp-for="SchoolID" class="form-control">
            <option value=""> Select School </option>
            @foreach (School s in Model.SchoolList)
            {
                <option value="@s.SchoolID">
                    @s.Name
                </option>
            }
        </select>
    </div>
    <div>
        <input type="hidden" name="UserType" value="Teacher">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password" class="control-label"></label>
        <input asp-for="@Model.Password" class="form-control" />
    </div>

    <br />
    <input type="submit" value="Create Teacher" class="btn btn-success"/>
    
    <a asp-page="Index" class=" btn btn-warning">
        Cancel
    </a>

</form>
