@page
@model SkoloFotoExam26.Pages.SchoolSecretaries.IndexModel
@{
    ViewData["Title"] = "Sekretærer";
}

<h1>Skolesetærer</h1>

<p>
    <a asp-page="CreateSchoolSecretary"> Opret en ny skolesekretær </a>
</p>

