@page
@model SkoloFotoExam26.Pages.CreateSchoolSecretaryModel
@{
    ViewData["Title"] = "Create Photographing Event";
}

<div>
    <h2>
        Create Photographing Event
    </h2>

    <form method="post">
        <div class="form-group">
           @*  <label asp-for @Model.   ></label>
 *@
        </div>



    </form>
</div>
