@page
@using SkoloFotoExam26.Models
@model SkoloFotoExam26.Pages.Student.IndexModel
@{
    ViewData["Titel"] = "Liste af børn";
}

<h1>Informationer</h1>

<p>
    <a asp-page="CreateStudent" class="btn btn-primary">Opret børneprofil</a>
</p>