@page
@model SkoloFotoExam26.Pages.PhotographingEvents.IndexModel
@{
    ViewData["Title"] = "Photographing Events";
}

<p>
    <a asp-page="CreatePhotographingEvent"> Create a new photographing event </a>
</p>